@charset "utf-8";
/* CSS Document */

.block-content-detail .inner {
	width: 1100px;
	margin: 0 auto;
	background-color: white;
	padding: 0 80px;
	padding-bottom: 50px;
	
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* FIL D'ARIANE*/

.block-content-detail .location a {
	text-decoration: none;
	color: black;
}

.block-content-detail .location ul {
	display: flex;
	list-style: none;
	padding-top: 65px;
}

.block-content-detail .location li:not(:first-of-type) {
	padding-left: 4px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* PHOTOS */

.block-content-detail .preview {
	display: flex;
	justify-content: flex-start;
}

.block-content-detail .imgdetail {
	display: flex;
	flex-direction: column;
	margin-right: 35px;
}

.block-content-detail .imgdetail img:hover,
 .block-content-detail .imgdetail img:focus,
 .block-content-detail .imgdetail img:active {
	border:thin solid black;
}

.block-content-detail .imgdetail img:not(:last-of-type) {
	width: 110px;	
	margin-bottom: 45px;
}

.block-content-detail .imgdetail img:last-of-type {
	width: 110px;
}
.block-content-detail .product img {
	width: 399px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* FICHE PRODUIT */

.block-content-detail .ficheproduit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.block-content-detail .text {
	display: flex;
	flex-direction: column;
	width: 396px;
	margin-left: 50px;
}

.block-content-detail .text h2 {
	font-weight: 400;
	margin-bottom: 24px;
}

.block-content-detail .text h3 {
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 20px;
}

.block-content-detail .title {
	display: flex;
}

.block-content-detail .title img {
	height: 40px;
	margin-left: 224px;
}

.block-content-detail .text p{
	margin-bottom: 15px;
}

.block-content-detail .price {
	text-align: right;
}

/*Style coeurs*/
.block-content-detail .title .hearts {
	display: flex;
	align-items: center;
}

/*Alignement 2eme coeur sur le premier*/
.block-content-detail .title .hearts img:last-of-type {
	width: 42.05px;
	z-index: 2;
	position: absolute;
	opacity: 0;
}
.block-content-detail .text .hearts img:last-of-type:hover,
.block-content-detail .text .hearts img:last-of-type:focus,
.block-content-detail .text .hearts img:last-of-type:active {
	opacity: 1;
}