@charset "utf-8";
/* CSS Document */

.block-content-listing .inner {
	width: 1100px;
	margin: 0 auto;
	background-color: white;
	padding: 0 80px;
}

/*---------------HAUT DE PAGE--------------*/

.block-content-listing .top {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-top: 65px;
}


/*---------------FIL D'ARIANE--------------*/

/*Liste en ligne plus alignement*/
.block-content-listing .location ul {
	display: flex;
	list-style: none;
}

/*Liens en noir*/
.block-content-listing .location a {
	color: black;
	text-decoration: none;
}

/*Espace autour des chevrons*/
.block-content-listing .location li:not(:first-of-type) {
	padding-left: 4px;
}


/*---------------PRODUITS--------------*/

/*Afficher 2 produits l'un à côté de l'autre*/
.block-content-listing .products {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/*Largeur cases produits*/
.block-content-listing .products .product1,
.block-content-listing .products .product2, 
.block-content-listing .products .product3,
.block-content-listing .products .product4{
	width: 400px;
	height: 750px;
}

/*Redimensionnement images*/
.block-content-listing .products .img-product img {
	width: 400px;
}

/*Nom produit et coeur alignés*/
.block-content-listing .first-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;	
}

/*Style coeurs*/
.block-content-listing .first-line .hearts {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Alignement 2eme coeur sur le premier*/
.block-content-listing .first-line .hearts img:last-of-type {
	width: 28px;
	z-index: 2;
	position: absolute;
	opacity: 0;
}

/*Apparition coeur au clic*/
.block-content-listing .first-line img:last-of-type:hover,
.block-content-listing .first-line img:last-of-type:focus,
.block-content-listing .first-line img:last-of-type:active {
	opacity: 1;
}

/*Style nom produits et prix*/
.block-content-listing .products h2 {
	font-size: 1.2em;
	font-weight: bold;
}

/*Style nom produits*/
.block-content-listing .first-line h2 {
	text-transform: uppercase;
}

/*Style descriptions*/
.block-content-listing .products .description {
	height: 75px;
}

/*Style prix*/
.block-content-listing .price h2 {
	text-align: right;
}


