@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.block-footer {
	color: white;
	font-family: Arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	background-color: #771613;
	width: 100%;
}

.block-footer .inner{
	margin: 0 auto;
	width: 1100px;
}

.block-footer ul {
	list-style: none;
	display: flex;
	padding: 37px;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 0;
}

.block-footer li:last-child {
	display: flex;
	align-items: center;
}

.block-footer li > a {
	text-decoration: none;
	color: white;
}
.block-footer li:last-child a {
	display: flex;
	align-items: center;
}

.block-footer li > img {
	margin-right: 30px;
	margin-left: 0.1px;
}

.block-footer li > a > img{
	margin-right: 10px;
}

.container .form input {
	background-color: #f7f7f7;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/* BUTTON */


.button {
	height: 125px;
	padding: 15px 30px 14px;
	text-decoration: none;
	margin: auto;
	
}

.button.default {
	background-color: #771613;
	border-radius: 120px;
	border : 1px solid rgba(0,0,0,0.00);
	
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

.button.default > span{
	color: white;
	margin-top: 1px;
	font-size: 1rem;
	text-transform: uppercase;
	font-family: 'Carlito', sans-serif;
}


.button.default:hover {
	background-color: white;
 	color: black;
	border : 1px solid black;
}

.button.default:hover span {
 	color: black;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/* POPUP */


.popup {
	display: inline-flex;
	background: #f7f7f7;
	border-radius: 8px;
	height: 285px;
	padding: 0 50px;
	margin: 60px;
	position: absolute;
	top: 50%;
	transform: translate(-60%, -50%);
	left: 50%;
	box-shadow: 0px 2px 6px #888;
	width: 440px;
}

.popup .inner {
	margin: auto;
	display: flex;
	width: 343px;
	flex-direction: column;
}

	/* ICONS */


.popup .inner .mail img {
	height: 19px;
	width: 40px;
}

	/* FORM */

.popup .title{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 40px;
	margin-top: 43px;
}
.popup .title h1 {
	display: inline-block;
	font-family: 'Carlito', sans-serif;
	font-size: 22px;
	font-weight: normal;
	text-align: center;
	width: 100%;
	margin: auto;
}

.popup .form {
	display: block;
}
.popup .form > div:last-of-type input {
	border: none;
	font-size: 17.16px;
	margin: auto 0;
	margin-left: 14px;
}

.popup .form > div:first-of-type input {
	border: none;
	font-size: 17.16px;
	margin: auto 0;
	margin-left: 10px;
	padding-right: 72px;
}

.popup .mail {
	border-bottom: 2px solid #757575;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 5px;
	display: flex;
}

.page-popup .popup .button {
	margin: auto;
	height: auto;
}

.page-popup .popup .title img {
	display: flex;
}

.popup {
    position: absolute;
    -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1.5s;    
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {top: -100%;}
    to {top: 50%;}
}

@keyframes example {
    from {top: -100%;}
    to {top: 50%;}
}